<div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>NC - Hub</h1>
        <h2>A Nuclear solution to all your crafting needs</h2>
        <p>From designing to sharing to formatting your reactors, we do it all</p>
      </div>
      <div class="col-6">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.imgur.com%2FLczjpiE.jpg&f=1&nofb=1&ipt=a07c0bcb0883086b92c34b09ca915bab39d710684e7a45f7e07bebf724abdc52&ipo=images" alt="placeholder" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Designer</h2>
        <p>Design your reactors without being at risk of a nuclear meltdown and without spending hours placing blocks one by one</p>
      </div>
      <div class="col">
        <h2>Sharing</h2>
        <p>Share your reactors with other people. Save some time and fetch already made reactors for the community that fit your needs</p>
      </div>
      <div class="col">
        <h2>Formatter</h2>
        <p>Format your reactors correctly to use for a specific modpack, transform Building Gadget strings into reactor .jsons, change blocks to other blocks. </p>
      </div>
    </div>
